<h1> Welcome to the Student Course Enrollment Application</h1>
<p>For Students Details Click here:<strong><%= link_to 'Students', students_path%></strong>
<p>For Course Details Click here:<strong><%= link_to 'Course', courses_path%></strong>