<h1> Course Details</h1>
  <p><strong>Name:</strong><%= @course.name %> </p>
  <p><strong>Duration:</strong><%= @course.duration %></p>

<h2> Students Register for this course</h2>
  <ol>
    <% @student_names.each do |student_name| %>
    <li><%= student_name %></li>
    <% end %>
  </ol>
  <%= link_to 'Back to Course List Page' , courses_path %>
